<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="styel.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/d2a5b68039.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="p-3 bg-info ">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        {% if request.user.is_superuser %}
                        <li><a href="{% url 'Accueill'%}" class="nav-link px-2 text-dark">Accueil</a></li>
                        
                        <li><a href="{% url 'add_etu' %}" class="nav-link px-2 text-dark">Inscription</a></li>
                        <li><a href="{% url 'classes' %}" class="nav-link px-2 text-dark">Classes</a></li>
                        {% else %}
                        <li><a href="{% url 'paranh' %}" class="nav-link px-2 text-dark">Accueil</a></li>
                        {% endif %}
                        
                    </ul>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <input type="search" class="form-control form-control-info" placeholder="Chercher..." aria-label="Chercher">
                    </form>
                    <div class="text-end">
                        {% if request.user.is_authenticated %}
                        <div class="nav-item dropdown">
                            <button class=" btn btn-outline-primary btn-succes me-2 text-white dropdown-toggle bg-primary"role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa-solid fa-user"></i> {{ request.user}} 
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                              <li><a class="dropdown-item" href="{% url 'logoutpage' %}"><i class="fa-solid fa-arrow-right-to-bracket"></i> Deconecter</a></li>                                
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser %}
                        <div class="text-end">
                            <a href="{% url 'Plus' %}" type="button" class="btn btn-outline-secondary bg-secondary text-white">Plus <i class="fa-solid fa-circle-plus"></i></a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </header>
        {% if messages %}
            {% for message in messeges %}
                {{ message }}
            {% endfor %}
        {% endif %}
        {% block body %}

        {% endblock %}
    </body>
</html>