<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">
        <link rel="stylesheet" type="text/css" href="styel.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
       

 <div class="container">
    {% if messages %}
        {% for message in messages %} 
        <div class="row justify-content-center">  
            <div class="col-md-6 py-2">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <p>{{ message }}</p> 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="">
                <div class="card mt-3 shadow">
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="text-center">
                                <h4>Créer Un Compte</h4>
                            </div>
                            <hr>
                            <div class="form-group">
                                <label for="">Nom d'utilisateur:</label>
                                {{ form.username }}
                                {% if form.errors.username %}
                                <label class="text-danger">Entrez un nom utilisateur valide.</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">E-mail:</label>
                                {{ form.email }}
                                {% if form.errors.email %}
                                <label class="text-danger">Entrez une adresse e-mail valide.</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Mot de passe:</label>
                                {{ form.password1 }}
                                {% if form.errors.password1 %}
                                <label class="text-danger"> Entrez une mot de passe valide. </label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label for="">Mot de passe confirmer</label>
                                {{ form.password2 }}
                                {% if form.errors.password2 %}
                                <label class="text-danger">Les deux champs de mot de passe ne correspondaient pas.</label>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <Button type="submit" class="btn float-end shadow btn-success px-4">Register</Button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
</body>
</html>